@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

html {
  font-size: 16px;
  color: #404040;
  background: white;
  font-family: 'Lato', sans-serif;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.wrapper{
  width: 342px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 376px;
  height: 74px;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(212, 212, 212, 0.58);
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 29px;
  height: 25px;
}

.mobile-header-menu{
  padding: 0;
  border: none;
  width: 24px;
  height: 16px;
  cursor: pointer;
}

.mobile-header-menu img{
  width: 24px;
  height: 16px;
}

nav, .desktop-header-button {
  display: none;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titles{
  margin-top: 19px;
}

.titles span{
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #302B3A;
}

.titles span:nth-child(2){
  color: #ADA7FF;
}

/* fix font-size from 12px to 11px */
.titles p{
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #404040;
}

.left-section-buttons{
  display: flex;
  justify-content: space-between;
  width: 68%;
  margin: 0;
  margin-top: 35px;
}

.fill-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  width: 108px;
  height: 34px;
  background: #ADA7FF;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  
  /* font */
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  /* fix problem with size from 12 to 11 */
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
}

.fill-button img{
  width: 12px;
  height: 14px;
  transform: rotate(18.05deg);
}

.watch-video{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 108px;
  height: 34px;
  border: none;
  cursor: pointer;
  background: #FFFFFF;

  /* font */
  font-family: 'Lato', sans-serif;
  font-style: normal;
  /* fix problem with font-weight */
  /* font-weight: 600; */
  /* fix problem with size from 12 to 11 */
  font-size: 11px;
  line-height: 15px;
  color: #ADA7FF;
}

.watch-video img{
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.company-experience{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 342px;
}

.company-experience-h2{
  margin: 0;
  margin-top: 35px;
  font-style: normal;
  font-weight: 650;
  /* fix problem with size from 30 to 26 */
  font-size: 26px;
  line-height: 38px;
  color: #302B3A;
}

.product{
  width: 78px;
}

.positive-review{
  width: 142px;
}

.company-experience-span{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #686868;
}

.group-7-dog-cat{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 342px;
  height: 408px;
  position: relative;
  margin-top: 60px;
}

.cat{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 276px;
  height: 408px;
}

.dog-print-with-background{
  width: 36px;
  height: 36px;
}

.cat-container{
  /* width: 276px;
  height: 276px; */
  position: relative;
}

.cat-background{
  width: 208px;
  height: 218px;
  margin-bottom: 38px;
}

.cat-lying{
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 6px;
  /* height: 208px; */
  width: 258px;
  /* transform: rotate(-25.94deg);   */
}

.dog{
  position: absolute;
  z-index: 3;
  right: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 208px;
  height: 370px;
}

.dog-container{
  position: relative;
}

.dog-sitting{
  position: absolute;
  z-index: 2;
  margin-top: 8px;
  width: 146px;
}

.cat-print-with-background{
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
}

.dog-background{
  width: 208px;
  height: 218px;
}

@media (min-width: 769px) {
  .mobile-header-menu, .mobile-header-menu img{
    display: none;
  }

  nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: auto;
  }

  .nav-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav-list-li-a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }

  .nav-list li:not(:last-child){
    margin-right: 25px;
  }

  .selected{
    color: #9A93FF
  }

  .desktop-header-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 32px; */
    width: 146px;
    height: 55px;
    background: #ADA7FF;
    border-radius: 999px;
    border: none;
    cursor: pointer;

    /* font */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }

  header{
    /* width: 100%; */
    width: 1440px;
    height: 148px;
    border-bottom: none;
  }

  .logo img{
    width: 56px;
    height: 50px;
  }

  .wrapper{
    width: 1172px;
    position: relative;
  }

  .hero{
    flex-direction: row;
  }

  .left-section{
    position: absolute;
    z-index: 3;
    margin-top: 90px;
    width: 684px;
  }

  .titles{
    margin-top: 89px;
  }

  /* fix problem with font from 69 to 63 */
  .titles span{
    font-size: 63px;
    line-height: 87px;
  }

  .titles p{
    width: 624px;
    margin-top: 23px;
    font-size: 16px;
    line-height: 23px;
  }

  .group-7-dog-cat{
    position: absolute;
    z-index: 2;
    right: 0;
  }

  .left-section-buttons{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0;
    margin-top: 60px;
  }

  .fill-button{
    padding: 0px 30px;
    width: 170px;
    height: 56px;
    border: none;
    cursor: pointer;
    
    /* font */
    font-size: 18px;
    line-height: 23px;
  }

  .fill-button img{
    width: 18px;
    height: 20px;
  }
  
  .watch-video{
    width: 178px;
    height: 56px;

    /* font */
    font-size: 18px;
    line-height: 23px;
  }

  .watch-video img{
    width: 56px;
    height: 56px;
  }

  .company-experience{
    width: 442px;
  }

  .company-experience-h2{
    margin-top: 60px;
    font-size: 38px;
    line-height: 54px;
  }

  .product{
    width: 112px;
  }
  
  .positive-review{
    width: 112px;
  }

  .company-experience-span{
    font-size: 15px;
    line-height: 23px;
  }

  .group-7-dog-cat{
    width: 566px;
    height: 676px;
    margin-top: 62px;
  }

  .cat{
    width: 460px;
    height: 676px;
  }

  .dog-print-with-background{
    width: 60px;
    height: 58px;
  }

  .cat-background{
    width: 346px;
    height: 362px;
    margin-bottom: 62px;
  }

  /* fix size cat from 342 to 442 */
  .cat-lying{
    bottom: 6px;
    width: 442px;
  }

  .dog{
    width: 346px;
    height: 614px;
  }

  .dog-sitting{
    margin-top: 14px;
    width: 240px;
  }

  .cat-print-with-background{
    width: 60px;
    height: 58px;
  }

  .dog-background{
    width: 346px;
    height: 362px;
  }
}