@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
}

body {
  margin: 0 auto;
  height: 5448px;
}

.img-container {
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 31.06%), 
  linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%), 
  url('../assets/images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 98.125rem;
}

main{
  position: relative;
}

.main-container{
  max-width: 120rem;
  margin: 0 auto;
}

.centered {
  position: absolute;
  width: 25px;
  height: 214px;
  left: 79px;
  top: 359px;
  /* transform: translateY(-50%);  */
  z-index: 9999; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.centered span{
  display: inline-block;
  width: 82px;
  transform: rotate(90deg);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 3%;
}

.logo{
  margin-left: 85px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav-list-li{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav-list li:nth-child(2) {
 margin: 0 50px;
}

.nav-search{
  margin-right: 85px;
  width: 99px;
}

.nav-search img{
  margin-right: 14px;

}

input[type="search"] {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  text-align: right;
  width: 65px;
}

input[type="search"]::placeholder {
  color: #fff;
  opacity: 0.5;

}

.hero{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero{
  padding-top: 12.375rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-container{
  margin: 0;
  padding: 0;
}

.span-with-tire{
  font-size: 1.1rem;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFC178;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.span-with-tire::before {
  margin-right: 2rem;
  content: '';
  display: block;
  width: 4.5rem;
  border-bottom: 2px solid #FFC178;
}

.hero-container-h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.25rem;
  text-transform: capitalize;
  margin: 0;
  margin-top: 2rem;
}

.hero-container-h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 6.25rem;
  text-transform: capitalize;
  margin: 0;
}

.scroll-down {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 7.8125rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
}

.arrows {
  margin-left: 0.5625rem;
}

.content{
  margin: 0 auto;
  margin-top: 45.875rem;
  max-width: 91.25rem;
}

.content-container-flex{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 3900px;
}

.content-container{
  width: 100%;
}

.holiday{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-holiday-img{
  background-image: url(../assets/images/holidays-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 37.375rem;
  height: 45rem;
}

.content-description{
  max-width: 39.5rem;
}

.content-h3{
  margin: 1.6875rem 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  max-width: 32rem;
}

.content-p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.read-more{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.steps{
  height: 60.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.steps-img{
  width: 100%;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%), url(../assets/images/steps-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} 

.steps-arrows {
  margin-top: 463px;
  width: 1390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-description{
  width: 1164px;
  height: 430px;
}

.steps-span-with-tire{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.steps-span-with-tire-1 {
  margin-right: 2rem;
  content: '';
  display: block;
  width: 72px;
  border-bottom: 2px solid #FFC178;
}

.steps-span-with-tire-2 {
  margin-left: 2rem;
  content: '';
  display: block;
  width: 72px;
  border-bottom: 2px solid #FFC178;
}

.steps-content-h3{
  margin-top: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #FFFFFF;
  width: 705px;
  margin: 0 auto;
}

.steps-content-p{
  margin: 0 auto;
  margin-top: 27px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  width: 934px;
}

.steps-read-more{
  margin-top: 39px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.culture{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-culture-img{
  background-image: url(../assets/images/culture-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 37.375rem;
  height: 45rem;
}

.footer-sec-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-subsec-1{
  width: 586px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.footer-subsec-1 span{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-right: 56px;
}

.footer-subsec-1 button{
  width: 240px;
  height: 70px;
  background: #FFA343;
  border-radius: 8px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.divider{
  margin-top: 56px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.3;
  height: 1.4px;
}

.footer-sec-2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1364px;
  margin-top: 56px;
}

.footer-subsec-2-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 252px;
  height: 220px;
}

.footer-subsec-2-1 span{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  width: 361px;
}

.form {
  display: flex;
  width: 400px;
}

.form input {
  padding-left: 15px;
  width: 330px;
}

input[type="email"]{
  background-color: transparent;
  border: none;
}

input[type="email"]::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #979797;
}

.form button {
  width: 70px;
  height: 70px;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
}

.footer-subsec-2-2-inf{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-inf-main{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
  text-decoration: none;
}

.footer-inf{
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 45px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}

.footer-sec-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.footer-sec-3-1-span{
  margin-left: 41px;
  margin-right: 50px;
}

.footer-sec-3-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 174px;
}

.footer-sec-4{
  margin-top: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-sec-4 span{
  color: #979797;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}