/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('../src/components/Navigation/Navigation.css'); */

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

body {
  width: 100%;
}

.app {
  max-width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

header{
  width: 358px;
  height: 66px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

nav{
  display: none;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.mobile-header-menu{
  background-color: transparent;
}

.HeroArea{
  width: 390px;
  height: 792px;
  display: flex;
  align-items: center;
  /* align-content: center; */
  /* justify-content: center; */
  flex-direction: column;
  background: linear-gradient(46deg, #FF9292 0%, #DE5150 100%);
}

.image-hero{
  margin-top: 135px;
  width: 323px;
  height: 330px;
  display: flex;
  align-items: center;
  align-content: center;
}

.image-hero img{
  width: 100%;
}

.hero-content{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 330px;
  height: 282px;
}

.hero-content span{
  margin-top: 9px;
  flex-direction: column;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

.hero-content-h2{
  margin: 0;
  margin-top: 14px;
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.group32{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 308px;
  height: 50px;
  margin-top: 14px;
}

.group32 h2{
  color: #FFF;
  font-size: 44px;
  font-weight: 700;
  line-height: 130%;
}

.line{
  width: 2px;
  height: 50px;
  background: #FFF;
  /* border: 1px solid #FFF; */
}

.group32 h3{
  color: #FFF;
  font-size: 31px;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: line-through;
  opacity: 0.699999988079071;
}

.hero-content button{
  border: none;
  margin-top: 34px;
  display: flex;
  width: 330px;
  height: 64px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #FFF;
  color: #FF4948;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
}

.Clour{
  width: 390px;
  height: 378px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Clour h3{
  margin-top: 42px;
  color: #180202;
  text-align: center;
  font-size: 31px;
  font-weight: 500;
  line-height: 140%;
}

.clour-slider{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
}

.center-sld{
  width: 266px;
  height: 249px;
  border-radius: 30px;
  box-shadow: 0px 21px 88px 0px rgba(126, 118, 118, 0.20);
}

.left-right-sld {
  display: none;
}

.center-sld img{
  width: 100%;
}

.Feature{
  width: 346px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.feature-describe-h3-h3{
  margin: 0;
  margin-top: 120px;
  color: #180202;
  font-size: 31px;
  font-weight: 500;
  line-height: 140%;
}

.feature-desctribe-img{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-describe{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.describe{
  display: flex;
  height: 96px;
}

.describe-img{
  display: flex;
  width: 96px;
  height: 96px;
  z-index: 2;
  /* position: absolute; */
}

.decribe-img-container{
  position: absolute;
  width: 96px;
  height: 96px;
}

.feature-img-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.feature-img-el27{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.feature-img-el26{
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.feature-img-el25{
  position: absolute;
  z-index: 1;
}

.describe-1-1{
  margin-left: 19px;

}

.describe-1-1 h3{
  margin: 0;
  color: #180202;
  font-size: 31px;
  font-weight: 500;
  line-height: 140%;
}

.describe-1-1 p{
  margin: 0;
  color: #180202;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.699999988079071;
}

.describe-1-1 a{
  color: #FF4948;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.describe:nth-child(2){
  margin-top: 41px;
  margin-bottom: 41px;
}

.describe:nth-child(1){
  margin-top: 32px;
}

/* .describe:nth-child(3){
  margin-bottom: 54px;
} */

.feature-img{
  width: 208px;
  height: 296px;
  margin-top: 55px;
}

.feature-img img{
  width: 100%;
}

.Product{
  width: 352px;
  /* height: 582px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Product h3{
  color: #180202;
  text-align: center;
  font-size: 31px;
  font-weight: 500;
  line-height: 140%;
}

.Product p{
  color: #180202;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.699999988079071;
}

.product-images{
  width: 286px;
  display: flex;
}

.product-images-1{
  width: 286px;
  display: flex;
  align-items: center;
  position: relative;
}

.product-02{
  width: 227px;
  height: 306px;
  margin-left: 21px;
  margin-bottom: 23px;
  /* position: absolute;
  z-index: 0; */
}

.product-02 img{
  width: 100%;
}

.background-product-02{
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 286px;
  height: 286px;
  border-radius: 30px;
  background: #E5F1FF;

}

.product-images-2{
  width: 68px;
  height: 286px;
  position: relative;
  bottom: -17px;
  right: 0px;
}

.shopping-cart{
  width: 68px;
  height: 68px;
  position: absolute;
  top: 0;
  left: 0;
}

.shopping-cart img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-description{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 30px;
}

.product-description-1{
  width: 238px;
  display: flex;
  justify-content: space-between;
}

.product-description-1 span{
  color: #180202;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.product-description-2{
  width: 286px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-description-2 p{
  margin: 0;
  width: 187px;
  height: 27px;
  color: #180202;
  font-size: 22px;
  line-height: 140%;
}

.product-description-2 span{
  color: #180202;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  width: 73px;
  height: 27px;
}

.product-1, .product-3 {
  display: none;
}

.Boxing{
  margin-top: 176px;
  width: 348px;
  /* height: 620px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-boxing{
  width: 307px;
  height: 268px;
}

.image-boxing img{
  width: 100%;
}

.boxing-description h3{
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.ul-boxing{
  margin: 0;
  padding: 0;
}

.li-boxing:not(:last-child){
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-size: 22px;
  line-height: 140%;
  opacity: 0.699999988079071;
  height: 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10000000149011612);
  width: 292px;
  display: flex;
  align-items: center;
}

.li-boxing{
  border: none;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-size: 22px;
  line-height: 140%;
  opacity: 0.699999988079071;
  height: 72px;
  display: flex;
  align-items: center;
}

.li-boxing img{
  margin-right: 15px;
}

.MainCta{
  width: 389px;
  height: 377px;
  margin-top: 114px;
  border-radius: 20px;
  background: #FFF4F4;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MainCta h3{
  margin: 0;
  margin-top: 54px;
  color: #180202;
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: 130%;
}

.MainCta span{
  margin-top: 6px;
  color: #180202;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.699999988079071;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input{
  border-radius: 73px;
  background: #FFF;
  width: 344px;
  height: 61px;
  align-items: center;
  border: none;
  margin-top: 36px;
}

.form input[type="email"]::placeholder {
  padding: 15px 30px;
  color: #180202;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.30000001192092896;

}

.MainCta-button {
  border-radius: 50px;
  background: #FF4948;
  width: 344px;
  padding: 15px 30px;
  border: none;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 42px;
}

.Futear{
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 388px;
  height: 189px;
  background: #E86564;
  justify-content: space-around;
}

.futear-logo{
  width: 73px;
  height: 66px;
}

.futear-logo img{
  width: 100%;
}

.futear-icons{
  width: 224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.futear-icons-1{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-image: url(../assets/icons/Ellipse30.svg);
}

.futear-nav{
  display: none;
}


@media screen and (min-width: 768px) {
  .app {
    width: 1620px;
  }

  header{
    width: 1145.5px;
    height: 66px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 100;
  }

  nav{
    display: flex;
    width: 269px;
    height: 47px;
  }

  nav ul{
    width: 269px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .li-header{
    width: 48px;
    height: 48px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-image: url(../assets/icons/Ellipse33.svg);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .HeroArea{
    width: 1619px;
    height: 850px;
    flex-direction: row;
  }
  
  .image-hero{
    width: 570px;
    height: 583px;
    margin-left: 168px;
  }
  
  .hero-content{
    margin-left: 95px;
    width: 517px;
    height: 514px;

  }
  
  .hero-content-h2{
    width: 517px;
    height: 282px;
    color: #FFF;
    font-size: 99.17px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }
  
  .group32{
    margin-top: 45px;
  }
  
  .hero-content button{
    width: 191px;
  }
  
  .Clour{
    width: 1142px;
    height: 594px;
  }
  
  .Clour h3{
    width: 508px;
    height: 101px;
    color: #180202;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
  }
  
  .center-sld{
    width: 453px;
    height: 423px;
    margin-left: 330px;
    margin-right: 330px;
  }

  .left-right-sld {
    width: 972px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
  }

  .left-sld, .right-sld{
    width: 324px;
    height: 302px;
    border-radius: 30px;
    border: none;
  }
  
  .left-sld img, .right-sld img{
    width: 100%;
  }
  
  .Feature{
    width: 979.013px;
    flex-direction: row;
  }
  
  .feature-describe-h3-h3{
    color: #180202;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    width: 460px;
  }
  
  .feature-describe{
    width: 306px;
  }
  
  .feature-img{
    width: 332px;
    height: 474px;
  }
  
  .Product{
    margin-top: 132px;
    width: 1146px;
  }
  
  .Product h3{
    color: #180202;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
  }
  
  .Product p{
    margin: 0;
    margin-top: 25px;
    color: #180202;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
  }

  .product-desc-img{
    margin-top: 43px;
    display: flex;
    align-items: center;
  }

  .product-1{
    display: block;
  }

  .product-2{
    margin-left: 63px;
    margin-right: 63px;
  }

  .product-3 {
    display: block;
  }
  
  .background-product-01{
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 286px;
    height: 286px;
    border-radius: 30px;
    background: #FFE5EE;
  }

  .background-product-03{
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 286px;
    height: 286px;
    border-radius: 30px;
    background: #E5FFFB;
  }
  .Boxing{
    width: 1069px;
    flex-direction: row;
    justify-content: center;
  }
  
  .image-boxing{
    width: 662px;
    height: 577px;
  }
  
  .boxing-description h3{
    color: #000;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    width: 390px;
    margin: 0;
  }
  
  .ul-boxing{
    margin-top: 28px;
  }
  
  .li-boxing{
    margin-left: 20px;
    color: #000;
    font-size: 22px;
    line-height: 140%;
    opacity: 0.699999988079071;
  }
  
  .MainCta{
    width: 712px;
    height: 292px;
  }

  .form{
    flex-direction: row;
    width: 503px;
    position: relative;
  }
  
  .form input{
    width: 503px;
  }
  
  .MainCta-button {
    width: 168px;
    position: absolute;
    z-index: 1;
    right: 0;
  }
  
  .Futear{
    width: 1622px;
  }

  .futear-nav{
    display: flex;
    align-items: center;
  }

  .li-futear{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
  }

}
